Port {{ getenv "SSH_PORT" }}
Protocol 2
PasswordAuthentication no
AllowUsers {{ getenv "TUNNEL_USER" }}

{{ $token := getenv "GITHUB_TOKEN" -}}
{{ $org := getenv "GITHUB_ORG" -}}
{{ $team := getenv "GITHUB_TEAM" -}}
{{ $users := getenv "GITHUB_USERS" -}}
{{ if $token -}}
AuthorizedKeysCommand /go/bin/github_pki -t {{ $token }}{{ if $org }} -o {{ $org }}{{if $team }} -T {{ $team }}{{ end }}{{ end }}{{ if $users }} -u {{ $users }}{{ end }} -a -
AuthorizedKeysCommandUser {{ getenv "TUNNEL_USER" }}
{{- end }}

AllowTcpForwarding yes
PermitOpen localhost:1
{{- range $stack := lsdir "/stacks" }}
  {{- range $service := lsdir (printf "/stacks/%s/services" $stack) }}
    {{- range $label := ls (printf "/stacks/%s/services/%s/labels" $stack $service) }}
      {{- if eq . "ssh_tunnel.port" }}
        {{- $port := getv (printf "/stacks/%s/services/%s/labels/%s" $stack $service $label) }}
        {{- printf " %s.%s:%s" $service $stack $port }}  
        {{- range lsdir (printf "/stacks/%s/services/%s/containers" $stack $service) }}
          {{- printf " %s:%s" . $port }}
        {{- end }}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end }}
