Port {{ getenv "SSH_PORT" }}
Protocol 2

{{ $org := getenv "GITHUB_ORG" }}
{{ $team := getenv "GITHUB_TEAM" }}
{{ $users := getenv "GITHUB_USERS" }}
AuthorizedKeysCommand /go/bin/github_pki -t {{ getenv "GITHUB_TOKEN" }}{{ if $org }} -o {{ $org }}{{if $team }} -T {{ $team }}{{ end }}{{ end }}{{ if $users }} -u {{ $users }}{{ end }} -u {{ getenv "GITHUB_USERS" }} -a -
AuthorizedKeysCommandUser root

AllowTcpForwarding yes
PermitOpen localhost:1
{{- range $stack := lsdir "/stacks" }}
  {{- range $service := lsdir (printf "/stacks/%s/services" $stack) }}
    {{- range $label := ls (printf "/stacks/%s/services/%s/labels" $stack $service) }}
      {{- if eq . "ssh_tunnel.port" }}
        {{- $port := getv (printf "/stacks/%s/services/%s/labels/%s" $stack $service $label) }}
        {{- printf " %s.%s:%s" $service $stack $port }}  
        {{- range lsdir (printf "/stacks/%s/services/%s/containers" $stack $service) }}
          {{- printf " %s:%s" . $port }}
        {{- end }}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end }}
